<div class="container">
  <form #postdata="ngForm" (ngSubmit)="submitdata(postdata.value)">
    <div class="row">
      <div class="form-group col-12">
        <label>Name</label>
        <input id="name" ngModel name="name" required class="form-control" type="text">
      </div>
      <div class="form-group col-6">
        <label>Age</label>
        <input id="age" ngModel name="age" required class="form-control" type="number">
      </div>
      <div class="form-group col-6">
        <label>Gender</label>
        <input id="gender" ngModel name="gender" required class="form-control" type="text">
      </div>
      <div class="form-group col-12">
        <label>Address</label>
        <input id="address" ngModel name="address" required class="form-control" type="text">
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-secondary col-2">send data</button>
      <button (click)="getAsyncData()" class="btn btn-primary col-2 offset-1">get data</button>
    </div> 
  </form>
  <div >
    <table class="table table-striped">
      <thead *ngIf="dataTable">
        <tr>
          <td>Name</td>
          <td>Gender</td>
          <td>Age</td>
          <td>Address</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data$ | async">
          <td>{{item.name}}</td>
          <td>{{item.age}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>